.fillbar {
    -unity-background-image-tint-color: rgb(216, 245, 43);
    background-image: url('project://database/Assets/ART/CraftPix/PIXEL%20SIDE%20VIEW/_PACK%20Plateformer%201Bit/Backgrounds/1.png?fileID=2800000&guid=f63f3ca73a692e24c92405f7ca25af45&type=3#1');
    transition-duration: 0.34s;
}

.fillbar:hover {
    -unity-background-image-tint-color: rgb(255, 253, 0);
    transition-duration: 1s;
    scale: 2 2;
    transition-timing-function: ease-in-cubic;
}

.fillbar .unity-progress-bar__progress {
    background-image: url('project://database/Assets/ART/CraftPix/PIXEL%20SIDE%20VIEW/_PACK%20Simple%20Plateformer/BackGrounds/PSD%20Modern%20City/1.psd?fileID=2800000&guid=bb2e2db40a636f54c865c13859eedc5c&type=3#1');
}

.fillbar unitylabel {
}

.fillbar .unity-text-element {
    -unity-font-definition: url('project://database/Assets/ART/CraftPix/PIXEL%20TOP-DOWN/_PACK%20Roguelike%20Classic/4%20GUI/TinyFontCraftpixPixel.otf?fileID=12800000&guid=e13aaaf568333dd44a94ca0dfd4e6a30&type=3#TinyFontCraftpixPixel');
}
